.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
gen-external-apklibs
*.a
*.ar
*.cpio
*.shar
*.LBR
*.iso
*.lbr
*.mar
*.tar
*.rpm
*.deb
*.msi
*.msm
*.msp
*.xpi
*.gem
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.dmg
*.egg
*.txz
*.bak
*.gho
*.ori
*.orig
*.tmp
.~lock.*#
.fuse_hidden*
.directory
.Trash-*
.nfs*
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.msix
*.lnk
